.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;

    margin-bottom: 40px;

    @media (max-width: 1440px) {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    @media (max-width: 540px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}
.title {
    margin-bottom: 30px;
}