.hero {
    &_container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        justify-content: space-between;
        gap: 24px;
        margin-bottom: 52px;
        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
        }
    }
}
.flex_column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    img {
        object-fit: cover;
        max-width: 415px;
    }
    @media (max-width: 1200px) {
        flex-direction: row;
        width: 100%;
        img {
            width: 100%;
        }
    }
    @media (max-width: 968px) {
        display: none;
    }
}
// Slider
.swiper {
    width: 100%;
    height: 100%;
}

.swiper_slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper_slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Slider {
    max-width: 870px;
    @media (max-width: 1200px) {
        max-width: unset;
        width: 100%;
    }
}
.photo {
   max-width: 870px;
   max-height: 520px;
   object-fit: cover;
   width: 100%;
}