.title {
    text-align: center;
    margin-bottom: 40px;
    color: #191C1F;
    font-size: 32px;
    @media (max-width: 540px) {
        font-size: 20px;
    }
}
.slideBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;

    border: 1px solid #E4E7E9;
    border-radius: 4px;
    img {
        margin-bottom: 24px;
        @media (max-width: 540px) {
            max-width: 120px;
            margin: 0 auto;
        }
    }
}
.Categories {
    margin-bottom: 120px;
}